.babelrc
.cache
algolia-queries.js
envs
gatsby-*
node_modules
public
src
.DS_Store
.vscode/settings.json
.vscode/ltex.hiddenFalsePositives.en-US.txt
.vscode/ltex.dictionary.en-US.txt
content/en
content/de
content/pt
.nvmrc