@bcmi-labs:registry=https://npm.pkg.github.com/
@serjlee:registry=https://npm.pkg.github.com/
@arduino:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${REPO_ACCESS_TOKEN}
legacy-peer-deps=true