name: Validate Content

on:
  repository_dispatch:
    types: deploy
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, ready_for_review, reopened]

jobs:


  lint:
    name: Content Linter
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node_version: [14]

    steps:
      - uses: actions/checkout@v4

      - name: Run linter
        run: |
          cd scripts/validation
          ./content-lint.sh -p '../../content/hardware/'
